.table-container {
  overflow-x: auto;
  width:100%
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.table th,
.table td {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  padding: 0.5rem 0;
  vertical-align: middle;
}

.table tbody td:first-child {
  color: #af272f; 
  font-weight: 400;
}

.table th {
  background-color: #af272f;
  color: white;
  font-weight: 400;
  overflow-wrap: break-word;
  white-space: normal;
  border: none; 
}


.table-footer td {
    border:none;
    padding-top: 1.5rem;
    font-size: 0.5rem;
    color: black;
}

/*
.table tr:nth-child(even) {
  background-color: #fafafa;
}

.table tr:hover {
  background-color: #f0f0f0;
}
*/